# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [2]:
ser = pd.Series([1,13,18,20])
ser

0     1
1    13
2    18
3    20
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [3]:
df = pd.DataFrame(
    {'amount of dogs': [4, 5, 6, 7, 8],
     'number of boops': [40,100,300,800,1000]})
df

   amount of dogs  number of boops
0               4               40
1               5              100
2               6              300
3               7              800
4               8             1000

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [8]:
df1 = pd.DataFrame(np.random.normal(loc = 0.85, size = (10,5)), index = ('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J') , columns = ('Project', 'Exam', 'HW1', 'HW2', 'HW3'))
df1

    Project      Exam       HW1       HW2       HW3
A  1.107875  0.790535  1.416473  0.951145  1.556353
B  0.349375 -0.180913  1.418652  0.130512  0.689288
C -0.277072  2.220043  2.335409  3.277101  0.811588
D  1.624289  1.935197 -0.335732 -0.576438  0.771470
E  0.751770  1.354446 -1.110052  1.613424  1.144288
F  1.460539  1.653071  0.921513  1.064321 -1.152016
G  0.649922  1.808667  1.013348  1.257225  1.857534
H  2.046193  2.142777  1.081596 -1.734132  0.690210
I  0.297160  0.379639  0.215575  1.034935  1.129646
J  1.398181 -0.666738  0.240318  1.963701  0.234643

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [11]:
iris = pd.read_csv('Data-Analytics-With-Python/Data-Analytics-With-Python/iris.csv')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [17]:
#first set of rows of pd.DataFrame
print("head of iris:\n", iris.head())
#last 5 rows
print("\ntail of iris:\n", iris.tail())
#random 5 rows
print("\nsample of iris:\n", iris.sample(5))
print("\nhead of df1:\n", df1.head())
print("\ntail of df1:\n", df1.tail())
print("\nsample of df1:\n", df1.sample(5))

head of iris:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

tail of iris:
      sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

sample of iris:
      sepal_length  sepal_width  petal_length  petal_width     species
58            6.6          2.9           4.6          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
140           6.7          3.1           5.6          2.4   virginica
0             5.1          3.5           1.4          0.2      setosa
19            5.1          3.8           1.5          0.3      setosa

head of df1:
     Project      Exam       HW1       HW2       HW3
A  1.107875  0.790535  1.416473  0.951145  1.556353
B  0.349375 -0.180913  1.418652  0.130512  0.689288
C -0.277072  2.220043  2.335409  3.277101  0.811588
D  1.624289  1.935197 -0.335732 -0.576438  0.771470
E  0.751770  1.354446 -1.110052  1.613424  1.144288

tail of df1:
     Project      Exam       HW1       HW2       HW3
F  1.460539  1.653071  0.921513  1.064321 -1.152016
G  0.649922  1.808667  1.013348  1.257225  1.857534
H  2.046193  2.142777  1.081596 -1.734132  0.690210
I  0.297160  0.379639  0.215575  1.034935  1.129646
J  1.398181 -0.666738  0.240318  1.963701  0.234643

sample of df1:
     Project      Exam       HW1       HW2       HW3
F  1.460539  1.653071  0.921513  1.064321 -1.152016
G  0.649922  1.808667  1.013348  1.257225  1.857534
A  1.107875  0.790535  1.416473  0.951145  1.556353
J  1.398181 -0.666738  0.240318  1.963701  0.234643
H  2.046193  2.142777  1.081596 -1.734132  0.690210

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [18]:
print("column names iris:\n", iris.columns)
print("\nrow indexes iris:\n", iris.index)
print("\ncolumn names df1:\n", df1.columns)
print("\nrow indexes df1:\n", df1.index)

column names iris:
 Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

row indexes iris:
 RangeIndex(start=0, stop=150, step=1)

column names df1:
 Index(['Project', 'Exam', 'HW1', 'HW2', 'HW3'], dtype='object')

row indexes df1:
 Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'], dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [23]:
pd.__version__
arr = iris.to_dict()
arr2 = df1.to_dict()

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [29]:
print("row slice:\n",iris.loc[2:5])
print("\nrow slice & col slice:\n",iris.loc[2:5, 'sepal_length':'petal_width'])
print("\nusing at:\n", iris.at[3,'petal_length'])

row slice:
    sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

row slice & col slice:
    sepal_length  sepal_width  petal_length  petal_width
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4

using at:
 1.5

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [31]:
print("row slice:\n",iris.iloc[0:1])
print("\nrow & column slice:\n",iris.iloc[1:4,0:2])
print("\nusing iat:\n",iris.iloc[1,3])

row slice:
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

row & column slice:
    sepal_length  sepal_width
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1

using iat:
 0.2

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [38]:
print("one operator:\n", iris['sepal_width'] < 4)
print("\ntwo operators:\n", (iris['sepal_length'] < 5) & (iris['petal_length'] > 1.4))

one operator:
 0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: sepal_width, Length: 150, dtype: bool

two operators:
 0      False
1      False
2      False
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool